<h1>Create a New Harry Potter</h1>

<%= form_tag "/hey_arnold", method: :post do %>
  <div>
    <%= label_tag :character %>
    <%= text_field_tag :character %>
  </div>
  <div>
    <%= label_tag :quote %>
    <%= text_field_tag :quote %>
  </div>
    <%= submit_tag "Create a Harry Potter" %>
  <% end %>